@using ImageHost.Views.Settings
@inject SignInManager<ApplicationUser> SignInManager

<div class="nav nav-pills flex-column nav-stacked">
    <a class="nav-link @SettingsNavPages.IndexNavClass(ViewContext)" asp-action="Index">Basic settings</a>
    <a class="nav-link @SettingsNavPages.AwsSettingsNavClass(ViewContext)" asp-action="AwsSettings">AWS settings</a>
    <a class="nav-link @SettingsNavPages.TinifySettingsNavClass(ViewContext)" asp-action="TinifySettings">Tinify settings</a>
</div>